body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 245, 245, 0.966);
    padding: 0.5% 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 6;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .1);
}

.navbar ul {
    margin: 0;
    padding: 0;
    flex: 1;
}

.navbar .nav-left {
    padding-left: 2%
}

.navbar .nav-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar .nav-left .left-items {
    font-size: 20px;
    font-weight: 500;
    flex: 1;
}

.navbar .nav-middle .middle-items {
    display: flex;
    flex-direction: row;
}

.navbar .nav-middle .middle-items input {
    padding: 4%;
    margin: 0;
    border-style: solid;
    border-radius: 4px;
    border-width: 0px;
}

.navbar .nav-middle .middle-items button {
    background-color: whitesmoke;
    border: none;
    font-size: 18px;
}

.navbar .nav-right .right-items {
    padding: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.footer .social {
    display: flex;
    justify-content: center;
}

.footer .social a {
    color: black;
    font-size: 20px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 60%;
    padding: 1%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.mainview {
    padding-top: 3.9%;
    display: flex;
    flex-direction: row;
}

.mainview .intro-background {
    flex-basis: 80%;
    background-image: url('../image/bus.jpg');
    background-size: cover;
}

.mainview .intro {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 97, 155, 0.562);
    border-style: solid;
    padding: 5%;
    margin-right: 8%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 100%;
    border-width: 0;
}

.mainview .intro .intro-header {
    font-size: 40px;
    color: white;
}

.mainview .intro .intro-body {
    font-size: 16px;
    color: white;
}

.mainview .auth-class1 {
    margin: 2%;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}

.mainview .auth-class2 {
    margin: 2%;
    display: none;
    flex-basis: 25%;
    flex-direction: column;
}

.auth-body {
    margin: auto;
    display: flex;
    padding: 2%;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 0px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
}

.auth-body a {
    color: blue;
    font-size: 14px;
}

.auth-body label {
    font-size: 13px;
    color: grey;
    margin-top: 10px;
    padding: 2px;
}

.auth-body input {
    padding: 10px;
    color: black;
    outline: none;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.438)
}

.auth-body .button {
    padding: 6px;
    color: white;
    outline: none;
    border-style: solid;
    border-radius: 4px;
    border-width: 0;
    margin-top: 16px;
    align-self: center;
    background-color: #0F609B;
}

.auth-body p {
    font-size: 12px;
    align-self: center;
    margin: 6px;
}



/* user */
.mainview .offer {
    flex-basis: 30%;
}

.mainview .trips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 70%;
    padding: 2%;
}

.mainview .offer {
    padding: 0.7%;
    flex-direction: column;
    display: flex;
    position: sticky;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: space-around;
    color: rgb(0, 0, 0);
}

.mainview .offer .offer-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;
}

.mainview .offer .offer-header p {
    margin: 0;
    flex: 1;
}

.mainview .offer .trip-info {
    flex-basis: 30%;
    margin: 0 0 4% 0;
}

.mainview .trips .trip-info {
    flex-basis: 30%;
    padding: 0 1%;
}

.mainview .trip-info img {
    width: 100%;
    height: 70%;
    border-style: solid;
    border-radius: 12px;
    border-width: 0px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
}

.mainview .trip-info p {
    margin: 2% 0;
}
.mainview .trip-info h5 {
    color:black;
    flex: 1;
    margin: 0;
    padding: 3% 0%;
}

.mainview .offer .trip-info .trip-detail {
    margin-top: -32%;
    padding: 0 2%;
    color: white;
}

.mainview .trips .trip-info .trip-detail {
    margin-top: -29%;
    padding: 0 2%;
    color: white;
}

.mainview .trip-info .trip-detail {
    margin-top: -42%;
    padding: 0 2%;
    color: white;
}

.mainview .trip-info .trip-detail .book-now {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.mainview .trip-info .trip-detail .book-now p {
    margin: 0;
    flex: 1;
}

.mainview .trip-info .trip-detail .book-now .button {
    margin: 0;
    padding: 6px;
    color: white;
    outline: none;
    border-style: solid;
    border-radius: 4px;
    border-width: 0;
    align-self: center;
    background-color: #0552B5;
    cursor: pointer;
}

.mainview .info-trip {
    display: flex;
    padding: 2%;
    flex-direction: column;
}

.mainview .trips-detail {
    margin: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 0;
}

.mainview .trips-detail .trips-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainview .trips-detail .trips-info .trip-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -25%;
    color: white;
    padding: 0 2%;
}

.mainview .trips-detail .trips-info img {
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mainview .trips-detail .bus-seat {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainview .trips-detail .bus-seat .seat-header{
    display: flex;
    flex-direction: column;
}

.mainview .trips-detail .bus-seat .seat-header p{
    margin: 0;
    align-self: center;
}
.mainview .trips-detail .bus-seat .seat-footer{
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.mainview .trips-detail .bus-seat .seat-footer .button{
    padding: 6px;
    color: white;
    outline: none;
    border-style: solid;
    border-radius: 8px;
    border-width: 0;
    align-self: center;
    background-color: #0552B5;
    cursor: pointer;}

.mainview .trips-detail .seats {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

.mainview .trips-detail .seats .seat-number {
    flex-basis: 25%;
    margin: 2.94%;
    display: flex;
    justify-content: center;
}

.mainview .trips-detail .bus-seat input[type="checkbox"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}